html {
    font-size: 62.5%;
}

<<<<<<< HEAD
.header {
    color: rgb(rgb(53, 189, 121));
}

=======
title.active {
    color: darkgreen;
}

h1.active  {
 color: darkolivegreen;
}

.header {
    color: green;
}

.active {
    color: darkolivegreen;
}
>>>>>>> refs/remotes/origin/main
